body{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    background: #EEF9BF;
    color: #75B79E;
}

.topo {
    width: 100%;
    margin: 0px auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.titulo {
    text-align: center;
    font-size: 56px;
    margin: 40px auto 47px auto;
}

#relogio {
    position: absolute;
    right: 20px;
    top: 40px;
    font-size: 45px;
}

#baralho {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0px auto;
}

.carta {
    height: 146px;
    width: 117px;
    margin: 17px;
    cursor: pointer;
    position: relative;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.frente {
    background-image: url(../img/front.png);
}

.costa {
    transform: rotateY(180deg);
    background-image: url(../img/front.png);
}

.carta.bobross .costa {
    background-image: url(../gif/bobrossparrot.gif);
}

.carta.explody .costa {
    background-image: url(../gif/explodyparrot.gif);
}

.carta.fiesta .costa {
    background-image: url(../gif/fiestaparrot.gif);
}

.carta.metal .costa {
    background-image: url(../gif/metalparrot.gif);
}

.carta.revertit .costa {
    background-image: url(../gif/revertitparrot.gif);
}

.carta.triplets .costa {
    background-image: url(../gif/tripletsparrot.gif);
}

.carta.unicorn .costa {
    background-image: url(../gif/unicornparrot.gif);
}

.carta.virada .costa {
    transform: rotateY(0deg);
}

.carta.virada .frente {
    transform: rotateY(-180deg);
}

@media (max-width: 614px){
    .topo {
        width: auto;
    }

    .titulo {
        font-size: 36px;
        margin: 40px auto 10px auto;
    }

    .relogio {
        top: 5px;
        right: 5px;
        font-size: 20px;
    }
}